<%- include("partials/header") -%>

<div class="row mb-3">

  <div class="col-lg-4 themed-grid-col">
    <h3>Items in Cart:</h3>
  </div>

<%Merch.forEach(function(item){%>
  <form class="" action="/delete" method="post">
    <div class="col-lg-10 themed-grid-col">
      <p class = "white"><%=item.name%>, $<%=item.price%>: <button type="submit" class="btn btn-sm white" name="itemName" value="<%=item.name%>">Delete</button></p>
    </div>
  </form>

<%})%>
</div>
<form class="" action="/checkout" method="post">
<button type="submit" class="btn btn-sm btn-light" name="totalPrice" value="<%=totalPrice%>">Checkout</button>
</form>




<%- include("partials/footer") -%>
